#heading {
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 2%, rgba(45, 97, 253, 1) 97%);
}

.text1
{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    text-align: center;
    border-radius: 02px;
}